<circuit access="public">
    <fuseaction name="login">
        <do action="v_home.login"/>
    </fuseaction>

    <fuseaction name="login_attempt">
        <relocate url="index.cfm?action=trainees.main" />
    </fuseaction>
</circuit>
